* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  background-color: #1e2f97;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-top: 7px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pageContainer {
  width: 90%;
  margin: 20px auto;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageContainer .inputBlock {
  width: 300px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}
.pageContainer .inputBlock .block1 {
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #1e2f97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.pageContainer .inputBlock .block1 h1 {
  padding-top: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.pageContainer .inputBlock .block2 {
  width: 85%;
  height: 320px;
  margin: 10px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pageContainer .inputBlock .block2 input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(132, 123, 182, 0.6039215686);
  width: 100%;
  padding-bottom: 1px;
  font-style: italic;
}
.pageContainer .inputBlock .block2 input::-webkit-input-placeholder {
  color: rgba(132, 123, 182, 0.6039215686);
}
.pageContainer .inputBlock .block2 input::-moz-placeholder {
  color: rgba(132, 123, 182, 0.6039215686);
}
.pageContainer .inputBlock .block2 input:-ms-input-placeholder {
  color: rgba(132, 123, 182, 0.6039215686);
}
.pageContainer .inputBlock .block2 input::-ms-input-placeholder {
  color: rgba(132, 123, 182, 0.6039215686);
}
.pageContainer .inputBlock .block2 input::placeholder {
  color: rgba(132, 123, 182, 0.6039215686);
}
.pageContainer .inputBlock .block2 label {
  display: block;
  margin-top: 10px;
}
.pageContainer .inputBlock .block2 #submit {
  border: none;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #5b41eb;
  margin: 15px auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.pageContainer .inputBlock .block2 #submit:hover {
  cursor: pointer;
  background-color: #1e2f97;
}
.pageContainer .inputBlock .block2 #getName {
  border: none;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #5b41eb;
  margin: 0px auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.pageContainer .inputBlock .block2 #getName:hover {
  cursor: pointer;
  background-color: #1e2f97;
}
.pageContainer .allStudentsContainer {
  width: 820px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pageContainer .allStudentsContainer .studentContainer {
  width: 200px;
  height: 220px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.pageContainer .allStudentsContainer .studentContainer .studentNameBar {
  width: 100%;
  height: 45px;
  color: white;
  background-color: #5b41eb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.pageContainer .allStudentsContainer .studentContainer .studentNameBar h1 {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 18px;
}
.pageContainer .allStudentsContainer .studentContainer .studentInfo {
  width: 90%;
  margin: 10px auto;
}
.pageContainer .allStudentsContainer .studentContainer .studentInfo h6, .pageContainer .allStudentsContainer .studentContainer .studentInfo h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #1e2f97;
}
.pageContainer .allStudentsContainer .studentContainer .studentInfo h6 span, .pageContainer .allStudentsContainer .studentContainer .studentInfo h5 span {
  font-weight: lighter;
  font-size: 11px;
  color: rgba(132, 123, 182, 0.6039215686);
}